[submodule ".registry"]
	path = .registry
	url = https://github.com/ajlyons/universe
	shallow = true
	branch = HEAD
[submodule "wrkshputils"]
	path = wrkshputils
	url = https://github.com/ucanr-igis/wrkshputils
	shallow = true
	registered = true
