[submodule ".registry"]
	path = .registry
	url = https://github.com/ajlyons/universe
	branch = HEAD
[submodule "caladaptr"]
	path = caladaptr
	url = https://github.com/ucanr-igis/caladaptr
[submodule "caladaptr.apps"]
	path = caladaptr.apps
	url = https://github.com/ucanr-igis/caladaptr.apps
[submodule "degday"]
	path = degday
	url = https://github.com/ucanr-igis/degday
[submodule "slideutils"]
	path = slideutils
	url = https://github.com/ucanr-igis/slideutils
[submodule "uasimg"]
	path = uasimg
	url = https://github.com/ucanr-igis/uasimg
[submodule "wrkshputils"]
	path = wrkshputils
	url = https://github.com/ucanr-igis/wrkshputils
